.root {
    -fx-text-color: #03071e;
    -fx-text-secondary-color: #2b2d42;

    -fx-background-color-primary: #fefae0;
    -fx-background-color-border: #bdb2ff;

    -fx-button-colorBack: #3a0ca3;
    -fx-button-hover: #bdb2ff;
    -fx-text-button-color: #fdf0d5;

    /*-fx-padding-s: 0.5rem;*/
    /*-fx-padding-m: 1rem;*/
    /*-fx-padding-l: 1.5rem;*/
    /*-fx-padding-xl: 1.5rem;*/

    /*-fx-gap-s: 0.25rem;*/
    /*-fx-gap-m: 0.75rem;*/
    /*-fx-gap-l: 1rem;*/
    /*-fx-gap-xl: 1.25rem;*/

    /*-fx-borderRadius: 15px;*/
}

.list-view {
    -fx-padding: 0;
    -fx-border-radius: 15px;
    -fx-effect: none;
    -fx-spacing: 3em;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-color;
    -fx-border-radius: 15px;
}

.list-cell:selected {
    -fx-background-color: -fx-button-hover;
    -fx-background-radius: 15px;
}

.list-cell:empty {
    -fx-background-color: transparent;
}

#contain {
    -fx-background-image: url("rise.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-alignment: center;
    -fx-spacing: 3.5em;
    -fx-hgap: 20px;
    -fx-vgap: 20px;
}

#containStats {
    -fx-min-height: 200px;
    -fx-min-width: 470px;
    -fx-alignment: center;
    -fx-spacing: 3em;
    -fx-padding: 3em;
    -fx-hgap: 200px;
    -fx-font-weight: bold;
}

.button {
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-text-fill: -fx-text-button-color;
    -fx-background-color: -fx-button-colorBack;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0.0, 0, 5);
}

.button:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

.button:pressed {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 255, 1), 0, 0, 0, 0);
    -fx-background-color: -fx-text-button-color;
    -fx-text-fill: -fx-button-colorBack;
}

#pokemonListTop,
#teamListView,
#containStats,
.selectArea {
    -fx-background-color: -fx-background-color-primary;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0.0, 0, 5);
    -fx-background-radius: 15px;
    -fx-padding: 1em;
    -fx-spacing: 1em;
    -fx-border-width: 3px;
    -fx-border-radius: 15px;
    -fx-border-color: -fx-background-color-border;
}

.selectArea {
    -fx-padding: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0.0, 0, 5);
}

#pokemonSprite {
    -fx-max-width: 50px;
    -fx-max-height: 50px;
}

#teamListView {
    -fx-background-color: transparent;
}

#chooseItem {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-control-inner-background-alt: transparent;
    -fx-background-insets: 0;
}
